<nav>
    <div class="nav-wrapper">
        <img class="logo-img" src="" alt="orange with chips sun" style="display: none;">
        <a class="brand-logo black-text text-darken-2">QuaranScreen</a>
        <a href="#" class="sidenav-trigger right black-text text-darken-2" data-target="mobile-links">
    </div>
</nav>
