body {
    background-color: lightgray;
}
.container {
    margin: 0 auto;
}
#welcome {
    
    text-align: center;
    font-weight: bolder;
    margin: 0 auto;
    background-color: lightgray;
}
#intro {
    font-size: x-large;
    width:80%;
    text-align: center;
    margin: 0 auto;
}
#start {
    text-align: center;
    font-weight: bolder;
    margin: 0 auto 50px auto;
  
}
#search, #list {
    margin: 0 auto;
    text-align: center;
}
.welcome-color {
    background-color: #fffdd0;
    
}