body {
    background-color: #3e424b;
}
#my-watchlist, #already-watched {
    
    font-size: large;
    font-weight: bold;
    color: ghostwhite;
}
button {
    margin: 10px;
}
.user-movie {
    font-size:large;
    border-style: solid;
    border-color: gold;
 
   

}
.title {
    color: ghostwhite;
    font-weight: bolder;
    font-size: 40px;
}
.container {
    width: 80%;
}