body {
    background-image: url("../images/movie-background-1.jpg");
    background-size: 100% 100%;
    background-color: lightgray;
}
#my-watchlist, #already-watched {
    
    font-size: large;
    font-weight: bold;
}
button {
    margin: 10px;
}
.user-movie {
    font-size:large;
    border-style: solid;
    border-color: black;
 
   

}
.title {
    color: ghostwhite;
    font-weight: bolder;
    font-size: 40px;
}
.container {
    width: 60%;
}