body {
    background-color: lightgray;
}
#my-watchlist, #already-watched {
    background-color: #fffdd0;
    font-size: large;
    font-weight: bold;
}
button {
    margin: 10px;
}
.user-movie {
    border-style: solid;
    border-color: lightgray;
 
   

}