body{
    background-color: #3e424b;
}
.btn {
    margin: 10px;
}
.container {
    width: 60%;
}
#movie-input {
    background-color: ghostwhite;
}
#add-movie {
    color: ghostwhite;
}
#movie-title{
    font-weight: bolder;
    color: ghostwhite;
}
#movie-form {
    color: ghostwhite;
}
#searched-movie {
    border: solid;
    border-color: gold;
}