body{
    background-image: url("../images/movie-background-1.jpg");
    background-size: 100% 100%;
    background-color: lightgray;
}
.btn {
    margin: 10px;
}
.container {
    width: 60%;
}
#movie-input {
    background-color: ghostwhite;
}
#add-movie {
    color: ghostwhite;
}
#movie-title{
    font-weight: bolder;
}
