form.signup,
form.login {
  margin-top: 50px;
  
}

body {
  background-color: #3e424b;
}
.container {
  font-size: medium;
  font-weight: bold;
  color: white;
  
}
h2 {
  color: white;
}
.row {
  border-style: solid;
    border-color: gold;
 
}

