form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-image: url("../images/movie-background-2.jpg");
  background-color: gainsboro;
}
.container {
  font-size: medium;
  font-weight: bold;
  color: white;
  
}
h2 {
  color: white;
}

