<li>
	{{movietitle}}

	<button class="change-isWatched btn btn-success"  type= "button" data-id="{{id}}" data-newisWatched="{{is_watched}}">
		{{#unless is_watched}}Already Watched{{/unless}}
	</button>
</li>
