<li>
	{{title}}

	<button class="change-isWatched btn btn-success"  type= "button" data-id="{{id}}" data-newisWatched="{{isWatched}}">
		{{#if is_watched=false}}Already Watched{{/if}}
	</button>
</li>
